In [ ]:
list is a collection 
mutable--changes allowed
list is ordered index no for reference starting from 0 -1 for ending
dupliactes allowed

In [ ]:
# Tuple----
# tuple is also a collection of elements of similar or different datatypes
# tuple is also indexed ordered
# tuples also allowed duplicates
# tuple is immutable--changes not allowed
# tuple is created using () while list is craeted using square brackets []

In [ ]:
tup1=(54,78.2,False,"Tuple",[4,5,6,8,7,89],(5,4,8,7),54,54,54,54,"gfgffdg")
print(tup1)

print(tup1[3:8])
print(type(tup1))

In [ ]:
#we cannot create tupe with single element directly we have to put comma after the element
tup2=(58.9,54,"false")
print(type(tup2))

In [ ]:
# list1=list2
# list2=list1.copy()

In [ ]:
tup1=[23,45,69]
tup2=tup1
# tup1[2]=39
print(tup1)
print(tup2)
# tup1=(54,78,98,97,6,)
# print(tup1)
# print(tup2)
# tup1[0]=39 immutable

In [ ]:
# count(element)---counts the element inside the tuple
tup3=(45,"wow","hello","Learnvern","Python",4854,45,78,95,84,75,89,87,86,45,465)
print(tup3.count(1465))

In [ ]:
#index(value/element)----first index of the element we mention inside the tuple
tup3=(45,"wow","hello","Learnvern","Python",4854,45,78,95,84,75,89,87,86,45,465)
# print(tup3.index(98))
print(len(tup3))

In [ ]:
# len()---counts the total number of elements iside tuple
# min()----gives minimum value from the tuple
#max()--gives maximum value from the tuple
tup4=(45,47,89,78,45,41,21,54,52,36,52)
print(max(tup4))

In [ ]:
# tuple()
list1=[1,2,3]
tup5=tuple(list1)
print(list1)
print(tup5)

In [ ]:
# #set is a collection of elements 
# sets are unordered no any index no to values
# sets are immutable chnages not allowed trough some sets methods
# sets not allowed duplicates
# sets are created using curly brackets{}

In [ ]:
set1={45,36,54,78,98,58,96,32,45,48,78,96}
print(set1)

In [4]:
# Sets methods
# add(element)----add elements inside set in random position
set2={45,48,78,96,54,25,14,15,45}
print(set2)
set2.add(365)
print(set2)
set2.add(35)
print(set2)

{96, 45, 78, 14, 48, 15, 54, 25}
{96, 45, 78, 14, 48, 15, 365, 54, 25}
{96, 35, 45, 78, 14, 48, 15, 365, 54, 25}

In [6]:
# update()
x={54,65,98,78,95,32,15,45,8}
y={54,78,98,96,35,25,45,84}
print(x)
print(y)
x.update(y)
print(x)
print(y)

{32, 65, 98, 8, 45, 78, 15, 54, 95}
{96, 98, 35, 45, 78, 84, 54, 25}
{32, 65, 98, 96, 35, 8, 45, 78, 15, 84, 54, 25, 95}
{96, 98, 35, 45, 78, 84, 54, 25}

In [9]:
# union()
x={54,65,98,78,95,32,15,45,8}
y={54,78,98,96,35,25,45,84}
z=y.union(x)
print(z)

{96, 32, 98, 35, 65, 8, 45, 78, 15, 84, 54, 25, 95}

In [10]:
# intersection
x={54,65,98,78,95,32,15,45,8}
y={54,78,98,96,35,25,45,84}
z=y.intersection(x)
print(z)

{54, 98, 45, 78}

In [16]:
#difference - U-A A-B
x={54,65,98,78,95,32,15,45,8}
y={54,78,98,96,35,25,45,84}
z=x.difference(y)
print(z)

{32, 65, 8, 15, 95}

In [33]:
# discard()---removes elements from set but not give error if not present
# remove()--removes elements from set but give error if not present
# pop()----

x={54,65,98,78,95,32,15,45,8,45,45,45,45}
x.discard(98)
# print(x)