# Dictionary MEthods

In [1]:
# Values() ---give list of values from the dictionary
dict1={1:2,56:48,89:125,36:45}
print(dict1.values())

dict_values([2, 48, 125, 45])

In [2]:
# Keys()--give list of keys from the dictionary
dict1={1:2,56:48,89:125,36:45}
print(dict1.keys())

dict_keys([1, 56, 89, 36])

In [3]:
# Items()---gives list of tuples and one tuple have only two values one is key
# another is value
dict1={1:2,56:48,89:125,36:45}
print(dict1.items())

dict_items([(1, 2), (56, 48), (89, 125), (36, 45)])

In [5]:
# pop(key)---remove the element of specified key
# popitem()---remove last pair which has been inserted

dict1={1:2,56:48,89:125,36:45}
# dict1.pop(89)
dict1.popitem()
print(dict1)

{1: 2, 56: 48, 89: 125}

In [11]:
# get(key[,value])--it gives the vlaue of the key but if the key is not in 
# dictionary then it returns none when thers is no second argument of value
# and if key is not found and second values is given then that value will be 
# given

dict1={1:2,56:48,89:125,36:45}
print(dict1.get(145,"value not found"))
print(dict1)

value not found
{1: 2, 56: 48, 89: 125, 36: 45}

In [14]:
# setdefault(key,value)--it gives the vlaue of the key but if the key is not in 
# dictionary then it returns none when thers is no second argument of value 
# and also add that key and value in the dictionary 
# and if key is not found and second values is given then that value will be 
# given
dict1={1:2,56:48,89:125,36:45}
print(dict1.setdefault(125))
print(dict1)

None
{1: 2, 56: 48, 89: 125, 36: 45, 125: None}

In [17]:
# update(dictionary)--it update the dictiionary
dict1={1:2,56:48,89:125,36:45}
dict1.update({698:"hello",45:"wow"})
print(dict1)

{1: 2, 56: 48, 89: 125, 36: 45, 698: 'hello', 45: 'wow'}

In [ ]:
# fromkeys(iterable,value)
list1=[1,2,3,4,5,6]
val=[1,2]
dict1=dict.fromkeys(list1,val)
print(dict1)

# function in python

In [ ]:
def functionanme([parameters]):
    body of the function
    [return value]

In [47]:
def greeting():
    a=58
    for i in range(1,11):
        print("good Morning")

In [50]:
print(a)

NameError: name 'a' is not defined

In [62]:
def addition(x,y):
    answer=x+y
    print(answer)

In [64]:
addition(45,15)
addition(48,25)

60
73

In [ ]:
hello  olleh  not palindrome
wow wow --palindrome

In [ ]:
# types of arguments
positional argument
keyword argument
default argument
arbitrary agrument
arbirary keyword argument

In [68]:
def fun1(x,y,z):
    print(x,y,z)

In [73]:
fun1(14,"Hello",33)

14 Hello 33

In [3]:
# Keyword Argument
def fun1(x,y,z):
    print(x,y,z)
    
# fun1(z=85,y=23,x=48)
fun1(45,z=85,y=89)
fun1(58,x=89,z=48)

45 89 85

TypeError: fun1() got multiple values for argument 'x'

In [7]:
# default argument
def fun1(x,y,z=47):
    print(f"x={x} y={y} z={z}")

fun1(48,25,102)

x=48 y=25 z=102

In [12]:
# aribtrary positional argument
# * tuple
def fun1(x,y,z,*m):
    print(f"x={x} y={y} z={z} m={m} {m[0]}")

fun1(48,25,102,45,89,65,21,4)

x=48 y=25 z=102 m=(45, 89, 65, 21, 4) (45, 89)

In [14]:
# aribtrary keyword argument
#  ** dictionary

def fun1(x,y,z,**m):
    print(f"x={x} y={y} z={z} m={m}")

fun1(x=85,z=102,y=25,m=48,j="hello",k=26)

x=85 y=25 z=102 m={'m': 48, 'j': 'hello', 'k': 26}

In [ ]:
palindrome

5894 4985 not palindrome
1331 1331 palindrome

palindrome(121)

In [19]:
def palindrome(num):
    temp=num
    rev=0
    while num!=0:
        rem=num%10
        rev=rev*10+rem
        num=num//10
        
    if temp==rev:
        print("Palindrome")
    else:
        print("Not Plaindrome")

In [22]:
palindrome(121)

Palindrome

In [ ]:
# import modulename
# from modulename import things

In [28]:
# random module
# import pillow
# pip install modulename
# pip install pillow

SyntaxError: invalid syntax (259061897.py, line 4)

In [207]:
import random
# dir(random)
# random.randrange(1,25,5)
# random.randint(45,459)
# random.choice("ebvfjehrvber jhbe vjhre")
# random.choice([1,2,3,4,5,6])
# random.choice({1,2,4,5,8,7,9,8,6,15,4,52,15})
# random.random()

0.22534138952969984

In [214]:
import math
# math.ceil(5.36)
# math.floor(5.36)
# math.factorial(5)
math.prod({1,2,3,45,2})

270