In [ ]:
# list
# list is a collection of elements of same as well as different datatype

# list properties
# list is mutable
# list is oredered
# list allow duplicates
# list allow multiple value to be stored in asingle collection 
# list should be always in square brackets []

In [10]:
list1=[89,45.36,True,"Hello",[1,2,3],(45,6),{48,96},{1:"Good",2:"Morning"}]
# print(list1)
# print(list1[3])
# print(list1[3][2:5])
# print(list1[2:6])

[True, 'Hello', [1, 2, 3], (45, 6)]

In [6]:
for i in list1:
    print(i,end="-")
    print(type(i))

89-<class 'int'>
45.36-<class 'float'>
True-<class 'bool'>
Hello-<class 'str'>
[1, 2, 3]-<class 'list'>
(45, 6)-<class 'tuple'>
{48, 96}-<class 'set'>
{1: 'Good', 2: 'Morning'}-<class 'dict'>

In [12]:
# list is mutable
list1=[24,45,78,69,48]
print(list1)
list1[2]=89
print(list1)

[24, 45, 78, 69, 48]
[24, 45, 89, 69, 48]

In [35]:
l1=[58,47,89,65,12,45,87,96]
l1[2:6]=range(1,9)
print(l1)
for i in l1:
    print(i*2)

[58, 47, 1, 2, 3, 4, 5, 6, 7, 8, 87, 96]
116
94
2
4
6
8
10
12
14
16
174
192

In [ ]:
# list function
len()
min()
max()
list()

In [11]:
# len()
list1=[45,87,89,84,57,84]
print(len(list1))

6

In [15]:
# min()
list1=[48,74,58,79,85]
print(min(list1))
list2=["hello","wow","Wonderful","great"]
print(min(list2))

48
Wonderful

In [17]:
# max()
list1=[48,74,58,79,85,48.36,101.25]
print(max(list1))
list2=["hello","wow","Wonderful","great"]
print(max(list2))

101.25
wow

In [25]:
# list()---it only converts iterables into list
print(list((45,36,"hello")))
l2=[45]
print(type(l2))
l1=(87968,)
print(list(l1))

[45, 36, 'hello']
<class 'list'>
[87968]

In [ ]:
# list methods
# elemnts add
append()
extend()
insert()

# element remove
remove()
pop()

# element location
index()
count()

# elemnts structure
sort()
reverse()
clear()
copy()

In [42]:
# list elements adding methods
# list.append(element) --add element at the last of list
# append will add iterbale as asingle element at the last of list
list1=[54,47,89,85,68]
list1.append("wow")
print(list1)

[54, 47, 89, 85, 68, 'wow']

In [9]:
# list.extend(iterable)
# it will add the lements of iterabel as an single individual elemnts at different idexes at last
list1=[54,47,89,85,68]
# list1.extend(range(140,180,5))
list1.extend(45)
print(list1)

TypeError: 'int' object is not iterable

In [23]:
# insert(index,element)
list1=[48,58,47,85,98,69,58]
list1.insert(4,"hello")
print(list1)

[48, 58, 47, 85, 'hello', 98, 69, 58]

In [ ]:
# element removing methods

In [60]:
# pop([index])
# if we will not mention the index then by default it will remove the last element otherwise
# remove the element at specified position or index
# if we mention the index which has no elemenst or out or range index then it
# will give indexerror
list1=[48,58,78,96,25,41,54,896]
x=list1.pop(5)
print(x)

41

In [61]:
# remove(element)
# remove will remove the element of first occurence
# if element is not in list then it will give value error
list1=[48,87,96,58,47,85,48,48,87,96,2,14,58,78,96]
x=list1.remove(48)
print(x)

None

In [64]:
# index(element) ---it will return the first occurence of element
list1=[48,78,96,54,82,45,78]
print(list1.index(48))
print(list1.index(4889))

0

ValueError: 4889 is not in list

In [66]:
# count(element)
# it will return the count of specified element inside the list
# it will return 0 when element is not in list but not give error
list1=[47,87,89,65,87,4,58,78,87,87,45,84,58,96,54,84,54]
list1.count(4005) 
# backtick

0

In [3]:
# copy method will copy one list to another and changing in original list will
# not affect the copied list
list1=[45,87,98,96,54,85]
list2=list1.copy()
print(list1)
print(list2)
list1[3]="Apple"
print(list1)
print(list2)

[45, 87, 98, 96, 54, 85]
[45, 87, 98, 96, 54, 85]
[45, 87, 98, 'Apple', 54, 85]
[45, 87, 98, 96, 54, 85]

In [ ]:
list1=[45,87,98,96,54,85]
list2=list1
print(list1)
print(list2)
list1[3]="Apple"
print(list1)
print(list2)

In [4]:
# sort([reverse=True]) --it will arrange the list in ascending order by default
list1=[45,78,96,54,78,96,58,96,24,21,547]
list1.sort()
print(list1)

[21, 24, 45, 54, 58, 78, 78, 96, 96, 96, 547]

In [5]:
list1=[45,78,96,54,78,96,58,96,24,21,547]
list1.sort(reverse=True)
print(list1)

[547, 96, 96, 96, 78, 78, 58, 54, 45, 24, 21]

In [6]:
# reverse() ---it will reverse the list
list1=[48,58,7,58,78,985,747,5457]
list1.reverse()
print(list1)

[5457, 747, 985, 78, 58, 7, 58, 48]

In [7]:
# clear() will clear all elements from the list
list1=[48,58,7,58,78,985,747,5457]
list1.clear()
print(list1)

[]

In [25]:
ele=int(input("Enter Element After you want to add"))
num=int(input("Enter number You want to add"))
l1=[1,2,3,4,5,6,7,8,9]
a=l1.index(ele)
l1.insert(a+1,num)
print(l1)

Enter Element After you want to add5
Enter number You want to add26
[1, 2, 3, 4, 5, 26, 6, 7, 8, 9]

In [13]:
l1=[]
l1[0]="Hello"

IndexError: list assignment index out of range

In [26]:
l1=[45,87,96,54,85,63,21,45]
l1.sort()
print(l1[1])

45