In [ ]:
# tuple
# tuple is a collection of elements of same as well as different datatype

# tuple properties

# tuple is immutable
# tuple is oredered
# tuple allow duplicates
# tuple allow multiple value to be stored in asingle collection 
# tuple should be always in square brackets ()

In [23]:
tup1=(48,56.32,True,"hello",[45,36,89],(48,65),{48,96},{1:"hekll",2:"world"})
print(tup1[4])
tup1[4].append(56)
print(tup1)

[45, 36, 89]
(48, 56.32, True, 'hello', [45, 36, 89, 56], (48, 65), {48, 96}, {1: 'hekll', 2: 'world'})

In [5]:
for i in tup1:
    print(type(i))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [10]:
list1=[48]
print(type(list1))
tup1=(48,)
print(type(tup1))

<class 'list'>
<class 'tuple'>

In [34]:
# functions
# max,min,len,tuple
tup1=(48,58,96,54,78,96,58,478,9,65,789,6)
print(min(tup1))
print(max(tup1))
print(len(tup1))
tup2=tuple({48:"Hello",89:48,14:85.36})
print(tup2)

6
789
12
(48, 89, 14)

In [33]:
dict1={48:"Hello",89:48,14:85.36}
for i in dict1:
    print(i)

48
89
14

In [36]:
# tuple methods
# count() ---count the number of elements inside tuple
tup1=(48,58,7899,8988,774,5857,5,"dherdkhf","rger","erger",True,48,58,48,96,54,87,85)
print(tup1.count(89))

0

In [41]:
# index() ----gives the index of the element
tup1=(48,58,7899,8988,774,5857,5,"dherdkhf","rger","erger",True,48,58,48,96,54,87,85)
print(tup1.index(58,3,14))
print(tup1.index("Hello"))

12

ValueError: tuple.index(x): x not in tuple

In [44]:
# how to find all index of elements inside collection
l1=tup1.search_all(48)
print(l1)

AttributeError: 'tuple' object has no attribute 'search_all'

In [ ]:
# set

# set
# set is a collection of elements of same as well as different datatype

# set properties

# set is mutable
# set is unoredered
# set doesn't allow duplicates
# set allow multiple value to be stored in a single collection 
# set should be always in curly brackets {}

In [45]:
set1={78,899,65,858,78,78,78,45,12,56,98,56}
print(set1)

{65, 98, 899, 12, 45, 78, 56, 858}

In [49]:
set1=set()
print(type(set1))

<class 'set'>

In [52]:
# union()---combine two sets in one sets
set1={1,2,3,4,5}
set2={6,7,8,9,4}
set3=set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [54]:
set1={1,2,3,4,5}
set2={'a','b','c',9,4}
set3=set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 'b', 9, 'a', 'c'}

In [82]:
# intersection---give common lements of two sets
set1={1,2,3,4,5}
set2={6,7,8,9,4}
set3=set1.intersection(set2)
print(set3)
print(set1)
print(set2)

{4}
{1, 2, 3, 4, 5}
{4, 6, 7, 8, 9}

In [81]:
# intersection_update ---update the intersection answer in one set
set1={1,2,3,4,5}
set2={6,7,8,9,4}
set1.intersection_update(set2)
print(set1)

{4}

In [55]:
# difference will get the element of one set after removing common elements
set1={1,2,3,4,5}
set2={6,7,8,9,4}
set3=set1.difference(set2)
print(set3)

{1, 2, 3, 5}

In [75]:
set1={1,2,3,4,5}
set2={6,7,8,9,4}
set3=set2.difference(set1)
print(set3)
print(set3)

{8, 9, 6, 7}
{8, 9, 6, 7}

In [83]:
# update the answer of difference in first set
set1={1,2,3,4,5}
set2={6,7,8,9,4}
set2.difference_update(set1)
print(set2)
print(set1)

{6, 7, 8, 9}
{1, 2, 3, 4, 5}

In [77]:
# add elemenst inside set at any position
set1={1,2,3,4,5}
set1.add(101)
set1.add(102)
print(set1)

{1, 2, 3, 4, 5, 101, 102}

In [78]:
# it will clear the whole set
set1={45,89,69,85}
set1.clear()
print(set1)

set()

In [80]:
# it will copy onse set inside another
set1={45,89,69,85}
set2=set1.copy()
print(set2)

{89, 45, 69, 85}

In [95]:
# it removes particular elemnt from set and element is not in set it will not 
# give error  but return whole set
set1={45,89,69,85}
set1.discard(892)
print(set1)

{89, 45, 69, 85}

In [96]:
# it removes particular elemnt from set and element is not in set it will 
# give error
set1={45,89,69,85}
set1.remove(892)
print(set1)

KeyError: 892

In [93]:
# it removes random element from set
set1={45,89,69,85,48,98,65}
set1.pop()
print(set1)

{65, 98, 69, 85, 89, 45}

In [99]:
# it will give the union of all elemnts remain after intersection
set1={1,2,3,4,5,6,7}
set2={1,3,5,87,96,4,2}
set3=set1.symmetric_difference(set2)
print(set3)

{96, 6, 7, 87}

In [100]:
set1={1,2,3,4,5,6,7}
set2={1,3,5,87,96,4,2}
set1.symmetric_difference_update(set2)
print(set1)

{96, 6, 7, 87}

In [103]:

set1={1,2,3,4,5,6,7,8,9} #superset
set2={4,5,6} #subset
print(set1.issuperset(set2)) #---give true when set1 is parent set or superset
print(set2.issubset(set1)) #--give true when set2 is child or subset

True
True

In [105]:
# isdisjoint --return true if there is no common element or return false if there
# is any single common element
set1={45,89,65,87}
set2={1,2,3,4,89}
print(set1.isdisjoint(set2))

False

In [108]:
# update(iterable) --updates the iterables in set
set1={1,2,34}
set1.update(range(20,30))
print(set1)

{'d', 1, 2, 34, 'b', 'f', 'g', 'r', 't', 'e'}