gerergergergergergerer
er
ger
g
ger

In [17]:
print("hofge i'urfh\bnvj \"viurv' ekr",end="------")
print('R"ge "rg er\'ge\\rgerg')

hofge i'urfhnvj "viurv' ekr------R"ge "rg er'ge\rgerg

In [21]:
# single line #
'''
weffwfwefwefwe
fwe
f
wefwef

'''
print("hello")

hello

In [23]:
a=10

int
float
string str
boolean bool

10

In [28]:
# type(variablername)
a=True
print(type(a))

<class 'bool'>

In [29]:
# identifier rule
# name

# 1)first character should be A_Z a-z _
# 2)other character should be A_Z a-z _ 0-9

# suggestion

# logical name
# spaces 
# 255 character exceeding
# keywords not use

# =a
# name=45

SyntaxError: invalid syntax (4014223839.py, line 5)

In [31]:
a=10
b="Sugandh"
print("hello My number is ",a,"My name is ",b)
print(f"hello my number is {a} my name is {b}") #formatted string

hello My number is  10 My name is  Sugandh
hello my number is 10 my name is Sugandh

In [42]:
# input()
a=float(input("Enter number "))
print(type(a))
print(f"Value of a is {a}")

Enter number 48.96
<class 'float'>
Value of a is 48.96

In [ ]:
# typecasting
# datatype(variablename)

In [ ]:
# operators

arithmetic operators + - * / % // **
assignement operator = += -= *= /= 
condition or relational or comparsion operator > < >= <= == !=
logical operator and or not
bitwise operator & | << >>
identity operator is is not
membership operator in not in 
miscelleanous operator ?:

In [53]:
a=50
b=20
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b) #give floor value
print(2**4)

70
30
1000
2.5
10
2
16

In [56]:
a=80
# a=a+10
# a=80+30
# a+=10
a=a-20
a-=20
print(a)

60

In [64]:
print(85>90)
print("HelLm">"HelAm")

False
True

In [68]:
print(55!=55)

False

In [75]:
print(85>65 and 55<25 or 96<52 )
print(not(56<25))

False
True

In [79]:
print(86&54)
print(86|54)
print(86>>2)
print(86<<2)

22
118
21
344

In [ ]:
simple if
if else
if elif..elif..elif.......else  (ladder if else)
nested if else

In [ ]:
# simle if

if condition:
    body

In [81]:
age =int(input("Enter Age: "))
if age>18:
    print("adult")

Enter Age: 14

In [ ]:
if ..else

if condition:
    if ki body
    .
    .
    .
    .
else:
    dg
    g
    g
    dg
    df
    g

In [83]:
age =int(input("Enter Age: "))
if age>18:
    print("adult")
else:
    print("Not an adult ")

Enter Age: 14
Not an adult

In [ ]:
if..elif..elif..elif......else

if condition1:
    rfg
    eg
    ege
    rge
elif condition2:
    efgertg
    g
    er
elif condition3:
    ergege
    rge
else:
    etfget
    gerg
    ee
    r

In [89]:
age =int(input("Enter Age: "))
if age>18 and age<40:
    print("adult")
elif age>=40 and age<60:
    print("Mid-young")
elif age>60:
    print("Senior children")
else:
    print("child")

Enter Age: 96
Senior children

In [92]:
a=int(input("ENter Number1 "))
b=int(input("ENter Number2 "))
c=int(input("ENter Number3 "))
if a>b:
    if a>c:
        print(f"{a} is greater")
    else:
        print(f"{c} is greater")

else:
    if b>c:
        print(f"{b} is greater")
    else:
        print(f"{c} is greater")

ENter Number1 78
ENter Number2 45
ENter Number3 124
124 is greater

In [ ]:
# loop

for  string range list tuple set dictionary

for i in sequence:
    body of the for loop
    
    fr
    
    fwf
    we




while condition


while condition:
    body of the while loop
    erfg
    er
    ger
    eg

In [94]:
# range([start,]stop[,step])
# print(range(10))
for i in range(10):
    print(f"value of i is {i}")

value of i is 0
value of i is 1
value of i is 2
value of i is 3
value of i is 4
value of i is 5
value of i is 6
value of i is 7
value of i is 8
value of i is 9

In [ ]:
range(10)
then this value is considered as a stop or end value and by default value of
start is 0

and by default value of step is 1

end value is not considered one value before stop is the end point of range

In [95]:
# range(4,16)

# it start from 4 but ends in 15 not in 16



for i in range(4,16):
    print(i**2)

16
25
36
49
64
81
100
121
144
169
196
225

In [ ]:
# the step of range is by default 1 and its positive value so 
# direction is left to right

-8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7

step 
positive left to right
negative  right to left

range(7,1,-2)

In [2]:
# string
''
""
""" """   '''  '''

string1="HEllo Wolrd"
print(string1)
str1=input("Enter String: ")
print(str1)

HEllo Wolrd
Enter String: rtyrth 4t65bn4yrth ^%&^%& grtgrtg
rtyrth 4t65bn4yrth ^%&^%& grtgrtg

In [4]:
# functions and methods
l1=89
print(str(l1))
print(type(l1))

89
<class 'int'>

In [6]:
# methods
str1="ksdkhf jkhrtverjerf LKJHFKLOcdn jkrbjker JKFRHEKF vc jbfnkj NBFjkhb"
print(str1.capitalize())
print(str1.casefold())

Ksdkhf jkhrtverjerf lkjhfklocdn jkrbjker jkfrhekf vc jbfnkj nbfjkhb
ksdkhf jkhrtverjerf lkjhfklocdn jkrbjker jkfrhekf vc jbfnkj nbfjkhb

In [15]:
# string.endswith("substring[,start][,end]")
str1="ksdkhf jkhrtverjerf LKJHFKLOcdn jkrbjker JKFRHEKF vc jbfnkj NBFjkhb"
print(str1.endswith("phb"))
print(str1.endswith("hb",8))
print(str1.endswith("ht",0,6))

False
True
False

In [25]:
# string.center(width[,fillchar])
str1="hello"
print(str1.center(50))
print(str1.center(50,"$"))
# print(str1.center(50,"+*"))
print(str1.center(100,"#"))

                      hello
$$$$$$$$$$$$$$$$$$$$$$hello$$$$$$$$$$$$$$$$$$$$$$$
###############################################hello################################################

In [27]:
for i in range(1,6):
    str1="* "*i
    print(str1.center(10))

    *
   * *
  * * *
 * * * *
* * * * *

In [36]:
# string.count("substring"[,start][,end])
str1="Hello all Welcome to tops techn96ologies 65  hello all good"
print(str1.count("all"))
print(str1.count("all",10))
print(str1.count("all",10,17))

2
1
0

In [39]:
# find
str1="Hello all Welcome to tops techn96ologies 65  hello all good"
print(str1.find("all"))
print(str1.find("all",8))
print(str1.find("all",8,16))

6
51
-1

In [42]:
a="Treee"
b=25
c=True
str1=f"ejfhr jrgvek e {a} fkvj gfjkbnr {b} klbjlr jkrb {c}"
str1="ejfhr jrgvek e {} fkvj gfjkbnr {} klbjlr jkrb {}".format(a,b,c)
print(str1)

ejfhr jrgvek e Treee fkvj gfjkbnr 25 klbjlr jkrb True

In [43]:
#index
str1="Hello all Welcome to tops techn96ologies 65  hello all good"
print(str1.index("all"))
print(str1.index("all",8))
print(str1.index("all",8,16))

6
51

ValueError: substring not found

In [46]:
str1="Hello all Welcome to tops techJKDSBDn96ologies 65  hello all good"
print(str1.title())
print(str1.swapcase())

Hello All Welcome To Tops Techjkdsbdn96Ologies 65  Hello All Good
hELLO ALL wELCOME TO TOPS TECHjkdsbdN96OLOGIES 65  HELLO ALL GOOD

In [49]:
str1="Hello"
print(str1.ljust(50))
print(str1.ljust(50,"*"))
print(str1.rjust(50))
print(str1.rjust(50,"*"))

Hello
Hello*********************************************
                                             Hello
*********************************************Hello

In [51]:
str1="Hello all tops Welcome to tops techJKDSBDn96ologies 65 tops  hello all good"
print(str1.partition("tops"))

('Hello all ', 'tops', ' Welcome to tops techJKDSBDn96ologies 65 tops  hello all good')

In [54]:
# replace("old","new"[,count])
str2="Hello all tops Welcome to tops techJKDSBDn96ologies 65 tops  hello all good"
print(str1.replace("tops","YOUREWQ"))
print(str1.replace("tops","YOUREWQ",4))

Hello all YOUREWQ Welcome to YOUREWQ techJKDSBDn96ologies 65 YOUREWQ  hello all good
Hello all YOUREWQ Welcome to YOUREWQ techJKDSBDn96ologies 65 YOUREWQ  hello all good

In [59]:
# split("separatpr")
str1="Hello all tops Welcome to tops techJKDSBDn96ologies 65 tops  hello all good"
print(str1.split("tops"))
print(str1.split("tops",2))

['Hello all ', ' Welcome to ', ' techJKDSBDn96ologies 65 ', '  hello all good']
['Hello all ', ' Welcome to ', ' techJKDSBDn96ologies 65 tops  hello all good']

In [61]:
str1="Hello WorlWd Wow Welfare"
print(str1.istitle())

False

In [65]:
str1="jhedgjhdvcf"
print(str1.isalpha())

False

In [68]:
str1="jhedgjhdv65746cf"

print(str1.isalnum())

False

In [71]:
str1="jhedgjhdvcf54685   λ467457#$%&^$%&^$&"
print(str1.isascii())

False

In [76]:
str1="j_hedgjhdv65746cf"
print(str1.isidentifier())

True

In [78]:
str1="78.6778"
print(str1.isdigit())
print(str1.isnumeric())
print(str1.isdecimal())

False
False
False

In [84]:
str1=" join "
str1.join(["Hello","world"])
print(str1.join("BUIPYT"))

B join U join I join P join Y join T

In [88]:
str1="efgber mnbthjgber nervtgvb fd"
print(str1[6:17:2])
print(str1[-1:-8:-1])
print(str1[-1::-1])

 ntjbr
df bvgt
df bvgtvren rebgjhtbnm rebgfe