In [1]:
print("jufiujh ehrvbh")

jufiujh ehrvbh

In [4]:
print("ergr egge\t3rg34g\n erg\b\bf")

ergr egge	3rg34g
 ergf

In [ ]:
varaiblename = value
# loosely type language
# typeless langugae

In [ ]:
# datatype
int --- 8 4 5 9 75 - 555 -866 -8945 
float ---78.25 98 36-98 0.25 -89 -89.36
string ---"egerger"  'ergfergerg'  """erergergr"""  '''ergergeg'''
boolean ---True False

list =[]
tuple =()
set={}
dictionary={key:value}

In [18]:
a=58
b="wergtt"
print(a)
# type(variablename)
print(type(a))
print(id(a))
print(id(b))

58
<class 'int'>
3021858885776
3021945125872

In [ ]:
variable=input("Message")

In [30]:
a=int(input("Enter Something"))
print(a)
print(type(a))

Enter Somethingdgetrg

ValueError: invalid literal for int() with base 10: 'dgetrg'

In [32]:
# typecast
# implicit and explicit
# datatype(variable)
a=90
 a=str(a)
print(type(a))
# if we will not maintain indentation in python then it will give indentation error

IndentationError: unexpected indent (1208192894.py, line 5)

In [24]:
(89.26+48)

137.26

In [31]:
print(z)
# if we try to use variable which is not declared then it will give NameError

NameError: name 'z' is not defined

In [ ]:
# identifier rule
%fgr $fg 8erg _wrgfer

1)first letter a-z A-Z _
2)remaing letter a-z A-Z _ 0-9 

# suggestions
space will not use
keywords will not be used
length will not be exceeded more than 255 characters
logical name should be used

camelcase

In [39]:
# formatted string
age=48
name="Ravi Kochar"
Adress="vesu Surat"
print(f"Your Age is {age} your name is {name} and your address is {Adress} {name}   {age}")
# print("Your Age is {} your name is {} and your address is {}".format(age,name,Adress))
# Your Age is 48 your name is Ravi Kochar and your address is vesu surat

Your Age is 48 your name is Ravi Kochar and your address is vesu Surat Ravi Kochar   48
Your Age is 48 your name is Ravi Kochar and your address is vesu Surat

In [ ]:
# Operators
# operands --operators work on operands
# + operator
# expression
89+36

In [ ]:
# Types of operators
arithmetic + - * / % ** //
relational > < >= <= == !=
logical AND(and) OR(or) NOt(not)
assignement = += -= *= /= %= **= //= 
bitwise >> << & | ^
identity is is not
membership in not in
# ternary operator ?:

# conditional statements
if simple if
if else
# if ..elif...elif..elif.....else  ladder if else
nested if else

switch case in not in python why?????