In [ ]:
# Collections

# List

# list is a collection of elements of similar or different data types as
# well as collection

# list is defined in square brackets[]
# list is mutable
# list is ordered elements having index
# list allowed duplicates

# list elements have all datatype values inside it

In [6]:
list1=[1,45.36,"Hello World",True,[45,36],(89,96),{25,32},{1:"wow",2:"Great"},]
print(list1)
print(list1[2])
print(list1[2][4])
print("wonderful" in list1)

[1, 45.36, 'Hello World', True, [45, 36], (89, 96), {32, 25}, {1: 'wow', 2: 'Great'}]
Hello World
o
False

In [10]:
print(2 in range(1,10))
print("x" not in "Buffalo")

True
True

In [3]:
for i in list1:
    print(type(i))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [24]:
list2=[1, 45.36, 'Hello World', True, [45, 36], (89, 96), {32, 25}, 
       {1: 'wow', 2: 'Great'}]

print(len(list2))
list3=[45,85.96,28.36,12.39]
list4=["Hello","Apple","wow","great","hjsdfh","Apple"]
print(min(list3))
print(max(list3))

print(min(list4))
print(max(list4))

str1="wow"
num1=8457
list(str1)
# list(range(1,10))
# list(num1)

8
12.39
85.96
Apple
wow

['w', 'o', 'w']

In [ ]:
# list methods
# elemnts insert
append()
extend()
insert()

# elements remove
pop()
remove()

# elements location
count()
index()

# list manipulate
reverse()
sort()
clear()
copy()

In [27]:
# append(element) --it adds the element at the end of the list
# this element can be of any type and any collection but add as an single element
list1=[1,2,4,8,16]
list1.append([1,2,3,4])
print(list1)
list1.append("WOW")
print(list1)

[1, 2, 4, 8, 16, [1, 2, 3, 4]]
[1, 2, 4, 8, 16, [1, 2, 3, 4], 'WOW']

In [28]:
# extend(element/iterable/collection) --it adds the element at the end of the list
# this elements cannot be of any type it shoud be any iterable
list1=[1,0.2,4,5,8]
list1.extend([1,2,3,4])
print(list1)
list1.extend("WOW")
print(list1)
list1.extend(range(4,40,5))
print(list1)

[1, 0.2, 4, 5, 8, 1, 2, 3, 4]
[1, 0.2, 4, 5, 8, 1, 2, 3, 4, 'W', 'O', 'W']
[1, 0.2, 4, 5, 8, 1, 2, 3, 4, 'W', 'O', 'W', 4, 9, 14, 19, 24, 29, 34, 39]

In [30]:
# insert(index,element)

list1=[1,0.2,4,5,8]
list1.insert(2,963)
print(list1)
list1.insert(4,"Hello")
print(list1)

[1, 0.2, 963, 4, 5, 8]
[1, 0.2, 963, 4, 'Hello', 5, 8]

In [33]:
# pop(index) ---removes the elements at the sepcified index but if index not mention then 
# it removes elements at the last of list
list4=[4,8,46,778,8,87,58]
list4.pop()
print(list4)
list4.pop(2)
print(list4)

# if we tried to remove element from the index which is not in list then it gives index error
list4.pop(12)
print(list4)

[4, 8, 46, 778, 8, 87]
[4, 8, 778, 8, 87]

IndexError: pop index out of range

In [35]:
# remove(element) --it removes the specified element from the list at its first occurences
list1=[4,8,46,778,8,87,58]
list1.remove(8)
print(list1)
list1.remove(343)
print(list1)

[4, 46, 778, 8, 87, 58]

ValueError: list.remove(x): x not in list

In [37]:
# count it counts the elements in list
list1=[4,8,46,778,8,87,58]
list1.count(8)
list1.count(789)

0

In [39]:
list1=[4,8,46,778,8,87,58]
list1.index(8)
list1.index(896)

ValueError: 896 is not in list

In [17]:
# reverse --it reverses the string
list4=[1,2,3,4,5,6]
list4.reverse()
print(list4)

[6, 5, 4, 3, 2, 1]

In [19]:
# sort it aorts the string and for descending we have to pass reverse=True
list1=[58,97,45,846,354,78]
list1.sort(reverse=True)
print(list1)

[846, 354, 97, 78, 58, 45]

In [20]:
# it clears the list
list1=[48,58,98,97,8]
list1.clear()
print(list1)

[]

In [22]:
list1=[1,2,3,4]
list2=list1
print(list1)
print(list2)
list1[2]=846
print(list1)
print(list2)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 846, 4]
[1, 2, 846, 4]

In [23]:
# copy methods
list1=[1,2,3,4]
list2=list1.copy()
print(list1)
print(list2)
list1[2]=846
print(list1)
print(list2)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 846, 4]
[1, 2, 3, 4]