In [5]:
# tuple

# tuple is also a collection of elements of similar or different datatype like list
# but tuple have some properties which is different from list

# tuple is immutable
# tuple is ordered 
# tuple allows duplicates

# tuple is defined in round brackets

tuple1=(1,56.96,True,"hello world",[45,85,96],(1,2,3),{"value","worrth"},{1:"heavy",2:"duty"})
# print(tuple1)

for i in tuple1:
    print(type(i))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [9]:
list1=[8]
print(type(list1))

<class 'list'>

In [13]:
tuple1=(58,)
print(type(tuple1))

<class 'tuple'>

In [15]:
list1=[58,78,48,59]
list1[2]=96
print(list1)

tuple1=(58,78,48,59)
tuple1[2]=96
print(tuple1)

[58, 78, 96, 59]

TypeError: 'tuple' object does not support item assignment

In [19]:
# tuple accessing and tuple slicing
tuple1=(48,58,78,96,54,12,54,89,63,58,9)
print(tuple1[5])
print(tuple1[3:8])
print(tuple1[10:4:-1])

12
(96, 54, 12, 54, 89)
(9, 58, 63, 89, 54, 12)

In [23]:
list1=[48,89,65,445,14,25,63,6547,78,9]
list1[2:4]=[58,48,59,87,89,8899,]
list1[4:8]=range(1,20,3)
print(list1)

[48, 89, 58, 48, 1, 4, 7, 10, 13, 16, 19, 14, 25, 63, 6547, 78, 9]

In [ ]:
# tuple function
len()
min()
max()
tuple()

In [28]:
tup1=(45,78,96,58,47,8)
print(len(tup1))
print(min(tup1))
print(max(tup1))

6
8
96

In [41]:
list1=[45,87,996,889,48,25,14,56]
tup1=tuple({48,47,89,88,57,47,88,96,47,85,89})
print(tup1)

(96, 48, 85, 88, 89, 57, 47)

In [ ]:
# tuple methods
index()
count()

In [45]:
# tuple.index()
tup1=(48,57,89,654,1,58,78,96,78,57,48)
print(tup1.index(57))
print(tup1.index(4896.))

1

ValueError: tuple.index(x): x not in tuple

In [47]:
# tuple.count()
tup1=(48,78,96,54,15,25,63,58,48)
print(tup1.count(48897))

0

In [70]:
tuple1=(1,2,54,87,96,58,451)
print(tuple1[-1::-1])

(451, 58, 96, 87, 54, 2, 1)

In [51]:
# set
set1={14,45.96,True,"String",(47,87,89)}

In [ ]:
# set is a collection of elements of immutable type
# set is unordered
# set does not allow duplicates

In [56]:
set1=set()
print(type(set1))
print(set1)

<class 'set'>
set()

In [62]:
# set methods
# add()
set1={45,85,96,54,78,95}
set1.add(101)
set1.add(4587)
print(set1)

{96, 85, 54, 101, 4587, 45, 78, 95}

In [63]:
# pop()
set1={45,85,96,54,78,95}
set1.pop()
print(set1)
# remove()

# discard()

{85, 54, 45, 78, 95}

In [68]:
set1={45,85,96,54,78,95}
set1.remove(5489)
print(set1)

KeyError: 5489

In [69]:
set1={45,85,96,54,78,95}
set1.discard(5489)
print(set1)

{96, 85, 54, 45, 78, 95}

In [1]:
# union
set1={45,48,78,96,58,47}
set2={85,47,89,65,89,658}
y=set1.union(set2)
print(y)

{96, 65, 45, 78, 47, 48, 658, 85, 89, 58}

In [2]:
# intersection
set1={45,68,96,43,12,56,47}
set2={58,24,15,47,68,12,36,45}
answer=set1.intersection(set2)
print(answer)

{45, 68, 12, 47}

In [5]:
# difference
set1={45,68,96,43,12,56,47}
set2={58,24,15,47,68,12,36,45}
# answer=set1.difference(set2)
answer=set2.difference(set1)
print(answer)

{24, 58, 36, 15}

In [7]:
set1={2,4,6,8,10,12,45,78,96,58,4}
set2={4,8,78,96}
answer=set2.issubset(set1)
print(answer)

False

In [8]:
set1={2,4,6,8,10,12,45,78,96,58,4}
set2={4,8,78,96}
answer=set1.issuperset(set2)
print(answer)

True