In [8]:
# a=10
# print(a)
# a=input()
# print(a)
# print(type(a))
# casting----one datatype to another datatype
a=int(input("Enter string"))
print(a)

Enter string50
50

In [20]:
a="hellofjsd'lfjsdf"
b='wor"ld'
c='''jdfsjkl'
sdfjkk"hj'''
d="""Helloo
fjfkd
sdfjsdf"""
print(a)
print(b)
print(c)
"""sdiofjhfijfwfwfjkfhwfjwfklwjwf
jdjafkla
dfnkf"""
print(d)

hellofjsd'lfjsdf
wor"ld
jdfsjkl'
sdfjkk"hj
Helloo
fjfkd
sdfjsdf

"hellofjsd'lfjsdf"

In [ ]:
# variables name----
# hello
# 1)Variable name must start with either undescore(_) or alphabet(a-z,A-Z)
# 2)Variable other character must be Number digit(0-9),underscore(_),Alphabet(a-z,A-Z)
# 3)variable name cannot be a keyword
# keyword-----words which have predefined meaning in python---print(),input(),if,else,for,while....
4hello
hello_world=20
hello49_
hello*1_

In [26]:
# \n---new line
# raw string---r,R
a=r"hello\nworld/*/94985#$^%%^"
print(a)

hello\nworld/*/94985#$^%%^

In [ ]:
a="10"
int(a)
casting means one dataype to another datatype change

In [32]:
# split()---splits string into list of strings separated by , and split by space by default
# we can change split parameter
str1="Welcome to tops technologies"
print(str1.split('t'))

['Welcome ', 'o ', 'ops ', 'echnologies']

In [41]:
a=(1,2)
b="Welcome to tops technologies"
a="Tanvi"
print("{0} {1} we are happy to see {0} you  {1}here".format(a,b))

Tanvi Welcome to tops technologies we are happy to see Tanvi you  Welcome to tops technologieshere

In [ ]:
conditional statements

if condition:
    expression or statements
    
if condition:
    body staments or expression
else:
    Statments or expression
    
if condition:
    body:
elif:
    body
else:
    body
    

if condition:
    if --else
else:
    if ---else

In [43]:
a=5
if a>5:
    print("greater than 5")

In [45]:
a=9
if a>5:
    print("Greater than 5")
else:
    print("Less than 5")

Greater than 5

In [ ]:
a=5
if a>0:
    print("Positive")
elif a<0:
    print("Negative")
else:
    print("zero")