In [ ]:
list=[]
list is mutable
list is ordered ----indexes
list aloow duplicates values

In [9]:
list1=[18,19.7,True,"Hello",[1,"open",3],("hello",12),{1,2},{1:"hello",2:"world"},True]
list1[4][1]="f"
print("open" in list1[4])

False

In [27]:
var1=(1,[1,2])#--immutable
var2=(1,[1,2])
print(id(var1))
print(id(var2))
print(var1 is var2)
2316

2361499972416
2361499974784
False

2316

In [29]:
list1=[18,19.7,True,"Hello",[1,"open",3],("hello",12),{1,2},{1:"hello",2:"world"},True]
print(max(list1))

TypeError: '>' not supported between instances of 'str' and 'float'

In [37]:
list2=[1,2,3,4,5,6.9,12.8,458,369.2]
list3=["hello","world","Hii","Bamboo"]
list4=["hello",15]
print(min(list4))

TypeError: '<' not supported between instances of 'int' and 'str'

In [44]:
str1="hello How Re you"
list1=list(str1.split(" "))
print(list1)

['hello', 'How', 'Re', 'you']

In [55]:
list1=[1,2,3,4,5,6]
list1.append((1,2))#add values at last of list
print(list1)

[1, 2, 3, 4, 5, 6, (1, 2)]

In [49]:
list1=[1,2,3,4,5,6]
list1.extend((1,2))#add values at last of list but values must be a collection or a sequence
print(list1)

[1, 2, 3, 4, 5, 6, 1, 2]

In [53]:
list1=[1,2,3,4,56]
list1.insert(9,"Hello")
print(list1)

[1, 2, 3, 4, 56, 'Hello']

In [57]:
list1=[1,2,3,4,56]
list1.pop(2)#if we not give any index then by default it emoves last eleemnt
print(list1)

[1, 2, 4, 56]

In [63]:
list1=[1,2,3,4,56,4,5,6,4,2,4,2,4]
list1.remove(4)#it remves particular element at first encounter and if we not give anyu value then typeerror 
print(list1)#if value is not in list then also valueerror

[1, 2, 3, 56, 4, 5, 6, 4, 2, 4, 2, 4]

In [65]:
list1=[1,2,3,4,56,4,5,6,4,2,4,2,4]
list1.count(559)#count the value inside list if not in list then gives 0

0

In [67]:
list1=[1,2,3,4,56,4,5,6,4,2,4,2,4]
list1.index(499)#gives the index number of value mention first encountered but if we give value which is not in list then it gives valueerror

ValueError: 499 is not in list

In [70]:
list1=[4,5,6,8,7,9,8,4,57,4,5,74,65]
list1.sort(reverse=True)
print(list1)

[74, 65, 57, 9, 8, 8, 7, 6, 5, 5, 4, 4, 4]

In [72]:
list1=[4,5,6,8,7,9,8,4,57,4,5,74,65]
list1.reverse()
print(list1)

[65, 74, 5, 4, 57, 4, 8, 9, 7, 8, 6, 5, 4]

In [74]:
var1=int(input("Enter nyumber1: "))
var2=int(input("Enter nyumber2: "))
var3=int(input("Enter nyumber3: "))
var4=int(input("Enter nyumber4: "))
var5=int(input("Enter nyumber5: "))
list1=[var1,var2,var3,var4,var5]
print(list1)

Enter nyumber1: 1
Enter nyumber2: 2
Enter nyumber3: 3
Enter nyumber4: 4
Enter nyumber5: 5
[1, 2, 3, 4, 5]

In [76]:
list1=[]
num1=int(input("enter Number of values you want to enter in list"))
for i in range(num1):
    value=int(input("Enter Value: "))
    list1.append(value)
    print(list1)
print(list1)

enter Number of values you want to enter in list8
Enter Value: 55
[55]
Enter Value: 25
[55, 25]
Enter Value: 65
[55, 25, 65]
Enter Value: 89
[55, 25, 65, 89]
Enter Value: 78
[55, 25, 65, 89, 78]
Enter Value: 36
[55, 25, 65, 89, 78, 36]
Enter Value: 12
[55, 25, 65, 89, 78, 36, 12]
Enter Value: 48
[55, 25, 65, 89, 78, 36, 12, 48]
[55, 25, 65, 89, 78, 36, 12, 48]

In [ ]:
tuple=()
list is immutable
list is ordered ----indexes
list aloow duplicates values

In [85]:
tup1=(1,2.9,"hello",[1,2,3])
tup1[3][2]=3.9
print(tup1)

(1, 2.9, 'hello', [1, 2, 3.9])

In [79]:
string1="hello"
string1[2]

'l'

In [ ]:
set={1,2}
set has no index no ordered
set doesn't contain duplicates values
set is immutable but it is mutable with help of some methods of sets

In [93]:
list1=[1]
tup1=("hello",)
set1={1}
print(type(list1))
print(type(tup1))
print(type(set1))

<class 'list'>
<class 'tuple'>
<class 'set'>

In [94]:
list1=[1,2,3,4,5,64,2,15,4,5,74,21,5,42,42,45,464,1,4,5,2,3,6,5]
set1=set(list1)
list1=list(set1)
print(list1)
print(set.)

[64, 1, 2, 3, 4, 5, 6, 74, 42, 45, 15, 464, 21]