In [ ]:
PYTHON ----PRogramming LANGUAGE

In [ ]:
functional programming language
functionname(para,metrs)

In [ ]:
ioyuoydhhdh
het
h
h
ehrth
eh

In [ ]:
int varaiabelname=value;
loosely type language

In [ ]:
age=48  loosely type language
age="hello"
int age=45;

variablename=value;
identifier rule
rules ----
1---a-z A-Z _
2---a-z A-Z _ 0-9

suhggestion

In [ ]:
print("fbjkhef bngvbjehrtv jhreb ge nejh")
print("efwegfwewegwerv wrgtwergwer  ")
# print("hello i"m good")
# \--backslash

In [ ]:
print("ggrgegeg")
print("hello i\"m good")

print("heelo \n is great")
print("heelo")
print("is great")
print("36\\21")
print("hello i'm go\"od")
print('rjghj"er\'ghejg')
# \n----newline character
# 36\21

In [ ]:
print("wsgerhg\b\b\brhgthg")
print("hello wolrd")

In [ ]:
# input()

In [ ]:
# variables
# variablename=value

In [ ]:
a=10
print(a)

In [ ]:
variable

integer --- int -- 12 54 826345 1245 -89 415 -89 -52 -5
float ----float ---25485 -5698 .2365 -0.256
string ---str --- "jkfjk" "" " " "546584" "True"
BOOLEAN ---bool ---True , False

In [ ]:
# rule for naming
first character a-z A-Z _  _sfgjk Ajfklgjrt gjhg %nhgn 8tjyut
remaing character a-z A-Z _ 0-9 

suggestions

# don't use space _

In [ ]:
age=56.32
print(type(age))

<class 'float'>

In [ ]:
name=input("Enter Name: ")

In [ ]:
print(name)

In [ ]:
age=input("Enter AGe: *************")
print(f"your age is {age}") #formatted output
mobile_number=input("Enter Number : ")

Enter AGe: *************48
your age is 48
Enter Number : b

In [ ]:
print(12+13)

25

In [ ]:
num1=int(input("Enter Number: "))
num2=int(input("Enter number2 "))
print(num1+num2)
"10"->10
"True"

Enter Number: 10
Enter number2 20
30

'True'

In [2]:
input()
10+20
"wow"+"wonderful"
int(input("Enter Number"))

66
Enter Number87

87

In [ ]:
a="85.36"
float(a)

85.36

In [ ]:
# operators
58+32   --operands  operator

In [ ]:
# operators in python
arithmetic operator + - * / //(floor division) %(modulus operator)
relational operator > < >= <= == !=
LOGICAL OPERATOR AND OR NOT
assignement operator = += -= *= /=
identity operator is not
membershipe operator not not in
bitwise operator bitwise and bitwise or bitwise left shift bitwise right shift

In [ ]:
print(20+50)

70

In [ ]:
a=50
b=70
print(a+b)
print(a-b)
print(a*b)
print(a/b)

120
-20
3500
0.7142857142857143

In [ ]:
# floor division (//)
a=5
b=2
print(a//b)
print(10//3)
# 3.21

# 3 floor value
# 4 ceil value

2
3

In [ ]:
# modulus operator(%)
print(20%6)

2

In [ ]:
# program to convert days into year and days
day=int(input("ENter Your days: "))
year=day//365
remaing_day=day%365
print(f"Year {year}  days {remaing_day}")

ENter Your days: 458
Year 1  days 93

In [ ]:
# relational Operator < > <= >= == !=
print(89>55)
print(44<59)
print(89==102)

True
True
False

In [ ]:
# Logical operator and or not
# print(89<14)
# print(12>6)
# and all true then TRUE if anyone is false the False
# print(89>14 and 12>6 and 47<58)
# or---anyone true the TRUE if all false the false
# print(89<56 or 48<23 or 48>89)
# not --reverse the answer TRUe Becomes False And False Becomes True
# print(not(85>21))

False

In [ ]:
# conditional statmenets
# simple if
# if...else
# if...elif..elif........else  (ladder if else)
# nested if else

In [ ]:
# simple

if condition:
    bodyge
    erg
    eg
    erg
    er
    g

Hellpo
Hellpo
Hellpo
Hellpo
Hellpo
Hellpo
Hellpo

In [10]:
# simple if
age=int(input("Enter Your Age: "))
if age>18:
    print("COngratulations...eligible for voting")
    print("ergeg")
    print("rgjwhghgb")

Enter Your Age: 9
not for voting

In [ ]:
# if...else
if condition:
    body
else:
    body

In [ ]:
age=int(input("Enter Age: "))
if age>18:
    print("COngratulations...eligible for voting")
else:
    print("Sorry...Not eligible for voting")

Enter Age: 4
Sorry...Not eligible for voting

In [ ]:
if condition1:
    body
elif condition2:
    body
elif condition3:
    boyd
    ....
    .
    .
    .
    .
    .
    .
else:
    body

In [ ]:
# ladder if else
percent=float(input("Enter Percentage: "))
if percent>91 and percent<100:
    print("A1")
elif percent>81 and percent<=90:
    print("A2")
elif percent>71 and percent<=80:
    print("B1")
elif percent>61 and percent<=70:
    print("B2")
elif percent>51 and percent<=60:
    print("C1")
elif percent>41 and percent<=50:
    print("C2")
elif percent>33 and percent<=40:
    print("D")
elif percent<=33:
    print("Fail")
else:
    print("Enter Bewteen 1 to 100")

Enter Percentage: 56.32
C1

In [3]:
# nested if else

a=int(input("Enter Number1 : "))
b=int(input("Enter Number2 : "))
c=int(input("Enter Number3 : "))
if a>b:
    if a>c:
        print(f"{a} is greater")
    else:
        print(f"{c} is greater")
else:
    if b>c:
        print(f"{b} is greater")
    else:
        print(f"{c} is greater")

Enter Number1 : 48
Enter Number2 : 56
Enter Number3 : 21
56 is greater

In [7]:
print("bwe \n bfwk\t webf\b\b")
int --- 89 65 -8 9- 89 -789 
float ----89 65 89 785 2. 325 -8 93. 25
string--- ''  ""  """ """  '''  '''

bwe
 bfwk	 webf

In [13]:
print('hello \'wolrd')
print("hello '' \" Wolrd")
print("""Hello ' "Wolrd""")
print('''hello world''')

hello" 'wolrd
hello '' " Wolrd
Hello ' "Wolrd
hello world

In [20]:
age=18
string1="hgjkrthg"
print(age)
# your age is 18
print(f"your{string1} age is {age} {age}") #formatted Output

18
yourhgjkrthg age is 18 18

In [35]:
# input()
# boolean ---True False
age=input("ENter your age: ")
# print(f"Your entered age is {age}")
print(type(age))

ddgfd
<class 'str'>

In [28]:
age='rgrgerg'
# type(variablename)
print(type(age))

<class 'str'>

In [ ]:
# typecasting
# changing one datatype into another
"18"
18

"age"
age=18
(str)age

In [46]:
age=bool(input("Enter your age: "))
print(type(age))
print(age)

Enter your age:
<class 'bool'>
False

In [ ]:
# operators
+ - * /
variable /value
a=10
b=50
a+b
59+36 --operands
+ operator
expression

In [ ]:
types of operators in python
arithmetic operators + - * / //(floor division) %(modulus) **
relational operator > < >= <= == !=
Logical operator and or not
bitwise operator & | >> <<
membership operator in ..... not in
identity operator is...... is not
assigenemnt operator = += -= *= /=

In [54]:
print(89+36)
print(45-98)
print(45*32)
print(32/45)
print(45//36) #1.25
print(85%24)
print(4**3)

125
-53
1440
0.7111111111111111
1
13
64

In [56]:
# relational operator
89>36
48<25
> >= < <= == !=

False

In [ ]:
89<25 false
 
45>12 true

47>25 true

Logical operator

and --all true then true atleast one false final false
or----anyone true then true if all false then final; result will be false

In [ ]:
print(87<25 and 89>45 or 84<25 and 39>12)

In [58]:
print(89&73)
print(89|73)
print(45&112)

73
89
32

In [59]:
print(88<<3)
print(88>>3)

704
11

In [60]:
# a=45
# # /=
# # *=
# # +=

# a=45
# a=37
a=10
a=a-13
a+=13 #shorthand operator
print(a)

23

In [ ]:
a*=89
a=a*89