In [11]:
print("good morning \ntyt   ytntn  tgr \nrtbnrtbgrfb  rgtb ")
print("WOW NEW\tTHI\b\bNG")
print("hello\tworld")
print("ergert\" rjubtr't jrbjgrt")
print('tdgerfd j\'k bd "jgrfb') #demo of single quote

good morning
tyt   ytntn  tgr
rtbnrtbgrfb  rgtb
WOW NEW	THING
hello	world
ergert" rjubtr't jrbjgrt
tdgerfd j'k bd "jgrfb

In [ ]:
# escape sequences

\n --newline character
\b --backspace character  
\t  ---tabsapce character 
\"  ---double quote
\'   ---singlequote

In [15]:
# comments'
# single line
# """
# weffwefwefwe
# wefwfwe
# fweffwef
# """
# fwfwefwefwwefwfd

In [21]:
# end
# by default end of print have \n but we can change it through end="  "
print("ERgerge ertgrv ergrtb",end="*****")
print("erfgerv ergerverg",end=" ++++++ ")
print("erggertgegeg")

ERgerge ertgrv ergrtb*****erfgerv ergerverg ++++++ erggertgegeg

In [24]:
# variable
age=87
print(age)
print("your age is",age,"you are young")
print(f"your age is {age} you are young")#formatted string formatted output

87
your age is 87 you are young
your age is 87 you are young

In [28]:
# type
a=True
print(type(a))

# datatype

int 8 7 9 744 878 445574 524555 -7884 -44654 -465
float 45.3585 5654 78892.3585 -895.58585 -54.5
string "WRgfergferg" 
'rgfergerg'

"""wrergergergergergerg
gergergergerg
ergergerg"""

'''ertfgergergerg
eg
g
erge
rg
g'''
boolean  True False

collections\sequence
string
range()
list
tuple
set 
dictionary

<class 'bool'>

In [50]:
# user input

# input()
# a=input("Enter number: ")
# print(type(a))
# casting

# datatype(variable)
a=int(input("Enter Number: "))
print(type(a))

Enter Number: 89.36

ValueError: invalid literal for int() with base 10: '89.36'

In [ ]:
# operators

89+38 89 ,38,a,b   operands
a+b +  opeartor

expression


# arithmetic operator + - / * % // **
# comparison or relational or conditional  > < >= <= == !=
# assignement operator = += -= /= *= %=
# logical operator And(and) OR(or) Not(!)
# bitwise operator & | << >>
# identity operator is is not
# membership operator in not in
# miscelleanous operator ?:(ternary operator)

In [37]:
print(89+38)
print(48*78)
print(78-69)
print(24/32)
print(4**3)  #power operator  
print(35//4)  #floor division
print(35%4) #modulo operator

127
3744
9
0.75
64
8
3

In [51]:
# comparison operator
print(58>48) #true
print(54<23)#false
print(48<=48) #true
print(54>=96)#false
print(478==477.9999999999999) #false
print(48!=36) #true

True
False
True
False
False
True

In [53]:
print(478==477.99999999999999)

True

In [ ]:
name  :  Sugandh gupta
age   :  48
email :  sugandh@gmail.com
mobile:  8796541235

In [2]:
name=input("Enter Name: ")
age=int(input("Enter Age: "))
email=input("Enter Email: ")
mobile=int(input("Enter Mobile "))
print(f"Name\t:\t{name}\nAge\t:\t{age}\nemail\t:\t{email}\nMobile\t:\t{mobile}\n")

Enter Name: Sugandh Gupta
Enter Age: 48
Enter Email: sugandhsec1122gmail.com
Enter Mobile 879654125
Name	:	Sugandh Gupta
Age	:	48
email	:	sugandhsec1122gmail.com
Mobile	:	879654125

In [55]:
# logical operator

print(84>56)
print(28>56)

and----it will return true if all the conditions is true if minimun
one condition is false then overall result is false

or----it will return true if minimum one condition is true and return false if all the 
condition is false

not---it will reverse the answer true--flase false--true

True
False

In [60]:
print(84>56 and 28>56)
print(84>56 or 28>56)
print(not(84>56))

False
True
False

In [64]:
84<<3

672

In [ ]:
# conditional statements:
simple if
if...else...
if..elif..elif..elif...else
nested if else

In [ ]:
if condition:
    body

In [1]:
age=int(input("Enter Age: "))
if age>18:
   print("Adult")

Enter Age: 48
Adult

In [3]:
age=int(input("Enter Age: "))
if age>18:
   print("Adult")
else:
    print("wow your are baccha")

Enter Age: 12
wow your are baccha

In [14]:
age=int(input("Enter Age: "))
if age<18 and age>0:
    print("Child")
elif age>18 and age<=60:
    print("Adult")
elif age>60 and age<150:
    print("Senior Dadaji")
else:
    print("Khoti age")

Enter Age: 196
Khoti age

In [17]:
a=int(input("Enter number: "))
b=int(input("Enter number: "))
c=int(input("Enter number: "))
if a>b:
    if a>c:
        print("a is greater")
    else:
        print("c is greater")
        
else:
    if b>c:
        print("b is greater")
    else:
        print("c is greater")

Enter number: 78
Enter number: 12
Enter number: 45
a is greater

In [ ]:
# loops
for loop
    sequence
    
    range()
    string
    list
    tuple
    set
    dictionary
while loop

condition

In [ ]:
for i in sequence:
    body

In [18]:
for i in "ru hvb ":
    print(i)

r
u

h
v
b

In [ ]:
while condition:
    body

In [1]:
i=0;
while i<10:
    print(i)
#     i=i+1
    i+=1

0
1
2
3
4
5
6
7
8
9

In [3]:
# range(start,stop,step)

print(range(1,10))

range(1, 10)

In [6]:
for i in range(1,5):
    print(i)

1
2
3
4

In [8]:
for i in range(6):
    print(i)

3
4
5

In [9]:
for i in range(1,20,3):
    print(i)

1
4
7
10
13
16
19

In [ ]:
-8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8

step

positive --direction left to right
neagtive ---directive right to left

In [11]:
for i in range(-6,-1,-2):
    print(i)

In [13]:
for i in range(4,-6,-1):
    print(i)

4
3
2
1
0
-1
-2
-3
-4
-5